NEXT_PUBLIC_APP_NAME=DjazAir
NEXT_PUBLIC_DEFAULT_PARALLEL_RATE_DZD=262
AMAD_CLIENT_ID=__set__
AMAD_CLIENT_SECRET=__set__
KIWI_API_KEY=__set__
EXCHANGE_BASE_URL=https://api.exchangerate.host
NEXTAUTH_SECRET=__set__
NEXTAUTH_URL=http://localhost:3000
DATABASE_URL=postgresql://user:pass@localhost:5432/djazair
